<app-menu></app-menu>
<div class="col-10 add_order">
 
  <div class="form-group">
    <label for="name">Firstname</label>
    <input type="text" class="form-control" id="firstname" placeholder="Nhập firstname" name="firstname">
  </div>
  <div class="form-group">
    <label for="name">Lastname</label>
    <input type="text" class="form-control" id="lastname" placeholder="Nhập lastname" name="lastname">
  </div>
  <div class="form-group">
    <label for="name">Tổng giá</label>
    <input type="text" class="form-control" id="totalprice" name="totalprice">
  </div>
  <div class="form-group">
    <label for="name">Mã order</label>
    <input type="text" class="form-control" id="ordernumber" name="ordernumber">
  </div>
  <a routerLink="/add_order">
    <button type="submit">Thêm</button>
  </a>
</div>
