<div class="col-10 order_detail">
  <h3>Đơn hàng mã : </h3>
  <!-- <button type="submit">Thêm đơn hàng</button> -->
    <table #dataTable style="width:100%" class="table table-hover display">
      <thead>
          <tr>
              <th>#ID</th>
              <th>Mã hóa đơn</th>
              <th>Tên sản phẩm</th>
              <th>Số lượng</th>
              <th>Ngày tạo</th>
              <th>Xóa</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>1</td>
              <td>System Architect</td>
              <td>61.000</td>
              <td>System Architect</td>
              <td>System Architect</td>
              <td><i class="far fa-trash-alt"></i> Xóa</td>
          </tr>
         
      </tbody>
  </table>
