<div class="col-9 show_order">
    <h3>Danh sách hóa đơn</h3>
      <table #dataTable style="width:100%" class="table table-hover display">
        <thead>
            <tr>
                <th>#ID</th>
                <th>Tên khách hàng</th>
                <th>Ngày</th>
                <th>Tổng giá</th>
                <th>Order Number</th>
                <th>Xóa</th>
                <th>Sửa</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>System Architect</td>
                <td>61.000</td>
                <td>System Architect</td>
                <td>System Architect</td>
                <td><i class="far fa-trash-alt"></i></td>
               <td><a routerLink=""><i class="fas fa-marker"></i></a></td>
            </tr>
        </tbody>
    </table>
  
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
