.show_order{
    float: left;
    padding: 5px;
    margin-left: -3px;
    background: #ffffff;
}
.show_order h3{
    padding: 20px;
}
.show_order a{
    color: #000000 !important;
    text-decoration: none;
}