
<div class="col-12 header">
  <i class="fas fa-user"></i>
</div>
<div class="col-2 menu">
    <nav class="navbar navbar-expand-lg">
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="/home" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sản phẩm
            </a>
            <ul>
              <!-- <li>
                <a class="dropdown-item" routerLink="/show_product">Danh sách</a>
              </li> -->
              <li>
                <a class="dropdown-item" routerLink="/add_product">Thêm sản phẩm</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="/show_user" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Khách hàng
            </a>
            <!-- <ul>
              <li>
                <a class="dropdown-item" routerLink="/show_user">Danh sách</a>
              </li>
            </ul> -->
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="/order" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Hóa đơn
            </a>
            <!-- <ul>
              <li><a class="dropdown-item" routerLink="/order">Danh sách</a></li>
             <li> <a class="dropdown-item" routerLink="/add_order">Thêm hóa đơn</a></li>
            </ul> -->
          </li>
        </ul>
      </div>
    </nav> 
</div>

