.add_product{
    float: left;
}
.add_product h3{
    margin: 18px 0px 36px;
}
.add_product textarea{
    margin-left: 0px;
}
.add_product textarea{
    margin-bottom: 0px;
    height: 106px;
    width: 74%;
}
.add_product input,select{
    margin-left: 30px;
    width: 74%;
    display: inline;
}