<div class="col-9 add_product">
  <h3>Thêm sản phẩm</h3>
  <div class="form-group">
    <label for="name">Tên sản phẩm</label>
    <input type="text" class="form-control" id="nameproduct" placeholder="Nhập sản phẩm" name="nameproduct">
  </div>
  <div class="form-group">
    <label for="name">Loại sản phẩm</label>
      <select class="form-control" id="sel1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>
  <div class="form-group">
    <label for="name">Giá sản phẩm</label>
    <input type="text" class="form-control" id="priceproduct" placeholder="Nhập giá sản phẩm" name="priceproduct">
  </div>
  <div class="form-group">
      <label for="name">Thông tin sản phẩm</label>
    <textarea name="descreption" id="descreption" cols="30" rows="10"></textarea>
  </div>
  <div class="form-group">
      <label for="fileupload">Chọn hình sản phẩm</label> 
    <input type="file" name="fileupload" value="fileupload" id="fileupload">
  </div>
</div>
