.show_product{
    float: left;
    padding: 5px;
    margin-left: -3px;
    background: #ffffff;
}
.show_product h3{
    padding: 20px;
}
.show_product a{
    color: #000000 !important;
    text-decoration: none;
}